.main-container{
    padding: min(1rem) min(1rem);
    height: min(40rem);
}

.caption{
    border-bottom: 1px solid #C0BFC3;
}

td{
    padding-block: min(5px);
}

tr:nth-child(even){
    background-color: #FFFAEE;
}

tbody tr:hover{
    background-color: #FEF2D8;
}

.table-body{
    height: 79%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #FDD375 #F2F2F4;
    scrollbar-width: thin;
}

th{
    color: #2C2B38;
}

.order-id-text{
    color: #6B6B74;
    font-weight: 400;
}

.btn-outline{
    background-color: #fff;
    border: 2px solid #F1303A;
    color: #F1303A;
}

.btn-outline:active{
    border: 2px solid #bb111a !important;
}
