.main-container{
    padding: min(1rem) min(1rem);
    height: min(40rem);
}

.caption{
    border-bottom: 1px solid #C0BFC3;
}

tr:nth-child(even){
    background-color: #FFFAEE;
}

tbody tr:hover{
    background-color: #FEF2D8;
}

.table-body{
    height: 79%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #FDD375 #F2F2F4;
    scrollbar-width: thin;
}

th{
    color: #2C2B38;
}

.order-id-text{
    color: #6B6B74;
    font-weight: 400;
}

.btn-outline{
    background-color: #fff;
    border: 2px solid #F1303A;
    color: #F1303A;
}

.btn-outline:active{
    border: 2px solid #bb111a !important;
}

tbody .price {
    text-align: end;
    padding: 0;
    padding-right: min(3rem);
}

tbody td{
    padding-block: min(5px);
    padding-left: min(20px);
    text-align: center;
    font-weight: 400;
}

.table-order td{
    text-align: left;
    font-weight: 500;
}

.table-body tbody .qty{
    width: min(10rem);
}

.table-body tbody .qty input{
    width: 50%;
    border: 1px solid #FCC03A;
    font-weight: 400;
    border-radius: 5px;
    padding-left: min(5px);
}

