@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --yellow-secondry: #fff6e2;
    --yellow-primary: #fab623;
    --gray-ton-1: #6B6B74;
    --gray-ton-2: #ABAAAF;
    --yellow-secondry-hover: #fff1d3;
    --gray-ton-hover: #f3f3f3;
    --gray-ton-hover-2: #56565e;
    --black: #2C2B38;
    --red: #F1303A;
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.slidebar-container{
    width: min(350px, 20vw);
    margin-left: unset;
    margin-top: min(50px);
}

.slidebar-logo{
    margin-inline: auto;
}

.page-container{
    margin-top: min(50px);
    margin-left: min(55px);
    margin-right: min(15px);
}

.page{
    padding: min(15px) min(30px);
    border-radius: min(15px);
    margin-bottom: min(5px);
    color: var(--gray-ton-2);
}

.page-selected{
    color: var(--yellow-primary);
    background-color: var(--yellow-secondry);
}

.page p{
    padding-top: 5px;
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    height: fit-content;
    font-weight: 600;
}

.page i{
    padding-right: 3px;
    font-size: clamp(0.5rem, 2.5vw, 1.1rem);
    height: auto;
}

.page p, .page i{
    width: fit-content;
}

.fa-dollar-sign{
    font-size: clamp(1rem, 2.5vw, 1.3rem) !important;
}

.fa-chevron-down{
    float: inline-end;
}

main{
    width: min(80vw);
    height: 100vh;
    background-color: #EAEAEB;
}

a{
    text-decoration: none;
    width: fit-content !important;
}

.page:hover{
    background-color: var(--gray-ton-hover);
    cursor: pointer;
}

.page-selected:hover{
    background-color: var(--yellow-secondry-hover);
}

.main-bg{
    width: 80%;
    height: 100vh;
    background-color: #EAEAEB;
}


/* ------------------Search Bar------------------*/
.searchbar{
    width: min(50rem);
    padding-block: min(15px);
    padding-left: min(30px);
}

.search-text{
    width: 90%;
    border: none;
}

.search-text:focus{
    outline: none;
}

.search-text::placeholder{
    font-weight: 400;
}

.searchbar i{
    margin-right: 10px;
    transition: color 0.2s;
}

.search-text::placeholder, .searchbar i{
    color: var(--gray-ton-2);
}


.box-shadow{
    box-shadow: 0 5px 15px #00000009;
}

.box{
    background-color: #fff;
    border-radius: 10px;
}

/* Notification */
.notify{
    width: min(60px);
    height: min(60px);
    margin-left: min(15rem);
}

.fa-bell{
    color: var(--gray-ton-1);
    font-size: clamp(0.6rem, 2.5vw, 1.2rem);
    transition: color 0.2s;
}

.searchbar i:hover, .fa-bell:hover{
    color: var(--gray-ton-hover-2);
    cursor: pointer;
}

/* Heading */
.welcome-head{
    position: relative;
    top: 5rem;
    font-size: clamp(2rem, 5vw, 3.5rem);
    letter-spacing: -2px;
    line-height: 5.2rem;
}

.welcome-head span{
    margin-top: min(-10px);
    font-size: clamp(3rem, 7vw, 8rem);
}

.red{
    color: #C3192C;
}

.yellow{
    color: #F7BE4B;
}

/* Info Box */
.info-box{
    width: min(18rem);
    height: min(18rem);
}

.info-box h2{
    color: var(--black);
    font-size: clamp(3rem, 7vw, 5.5rem);
    font-weight: 600;
    height: fit-content;
    top: 65px;
}

.info-box p{
    color: var(--gray-ton-1);
    width: 100%;
    height: fit-content;
    font-size: clamp(0.5rem, 2vw, 1.2rem);
    top: 10px;
}

.border-bottom{
    border: 1px solid #C0BFC3;
    margin-inline: 50px !important;
}


/* Buttons */
.btn-option{
    color: #565560;
    width: min(30rem);
    height: min(8rem);
    padding-left: min(50px);
    border-left: 3px solid;
    transition: box-shadow 0.3s;
}

.btn-option:hover{
    box-shadow: 0 5px 15px #00000025;
}

.border-red{
    border-left-color: #F1303A;
}

.border-yellow{
    border-left-color: #FCC03A;
}


/* Option List */
.option-list{
    font-size: clamp(0.5rem, 2vw, 1.1rem);
    padding-block: min(20px);
    padding-left: min(5px);
    border-radius: 15px;
    background-color: var(--yellow-secondry);
}

.option-list ul{
    list-style: none;
    line-height: min(45px);
    border-left: 2px solid #FFD06A;
    padding-left: min(15px);
    margin-left: min(2rem);
}

.option-list ul a{
    color: #FDD375 !important;
    transition: color 0.3s;
}

.option-list ul a:hover{
    color: #ecb337 !important;
}

.selected-option{
    color: #CA9A2E;
}

/* Option page heading */
.heading-option{
    color: var(--black);
    font-size: clamp(1.5rem, 2.5vw, 2.8rem);
    font-weight: 600;
}

/* ID Box */
.id-container{
    width: min(17rem);
    color: #fff;
    font-size: clamp(0.5rem, 2.5vw, 1.3rem);
    font-weight:200 !important;
    background-color: var(--red);
    height: min(50px);
    border-radius: 10px;
}

/* Container Sub Pages */
.main-container{
    padding: min(7rem) min(6rem);
    margin-top: min(3rem);
}

/* Table */
.tbl-container{
    width: 60%;
}

tr:nth-child(even){
    background-color: #FFFAEE;
}

th{
    padding-left: min(20px);
    color: #565560;
}

td{
    font-weight: 400;
    color: #2C2B38;
}

th, td{
    padding-block: 0.7rem;
}

.details-table tr  td{
    width: 55%;
}

tbody td{
    text-align: center;
}

/* Buttons */
.btn{
    font-weight: 500;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    border-radius: 12px;
    width: fit-content;
    border: none;
}

.btn-main-func{
    color: #fff;
    padding-inline: min(7rem);
    background-color: #F1303A;
}

.btn-sec-func{
    padding-inline: min(5rem);
    color: #FCC03A;
    border: 2px solid #FCC03A;
}

.btn-main-func:hover{
    color: #fff;
    background-color: #d81e27;
}

.btn-main-func:active{
    color: #fff !important;
    background-color: #bb111a !important;
}

.btn-sec-func:hover{
    color: #fff;
    background-color: #FCC03A;    
}

.btn-sec-func:active{
    transition: all 0.1s;
    color: #fff !important;
    background-color: #e9a71a !important;
    border: 2px solid #e9a71a !important;
}

.btn-container{
    margin-left: auto;
    margin-top: 5rem;
    justify-content: end;
}

.btn-main-func:disabled{
    background-color: #e8e8eb;
}

.items-link{
    text-decoration: underline;
    color: #2C2B38;
}

.items-link:hover{
    color: #CA9A2E;
}

@media (max-width: 1366px){
    main{
        max-width: 75vw;
    }
}

@media (max-width: 600px){
    main{
        width: 100vw;
    }
}